.banniere img{
    width: 100%;
}

body{
    background-color: rgba(194, 192, 192, 0.507);
}
.banniere{
    position: absolute;
    z-index: -1;
}
.degrade{
    position: absolute;
    top: 40vw;
    height: 15%;
    width: 100%;
}


.article{
    position: relative;
    z-index: 0;
}

.article-1{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
}

.article-2{
    display: flex;
    flex-wrap: wrap;

}
.article-2 .article{
    position: relative;
    min-width: 30rem;
}
.article-2 .description{
    font-size: 13px;
    position: absolute;
    top: 10%;
    right: 10px;
    height: 100%;
    width: 45%;
}
.article-containeur{
    position: relative;
    top: 25vw;
}


